html, body {
	min-height: 100%;
}

body {
	background: linear-gradient(to bottom, #2c3c39, #8ca7a2) no-repeat;
	margin: 0;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	background: white;
	min-height: 100%;
	width: 805px;
}

header {
	position: relative;
}

header>img:first-child {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header>img:nth-child(2) {
	position: absolute;
	top: 10px;
	left: 40px;
}

header>ul {
	position: absolute;
	top: 190px;
	margin: 0;
	padding: 0;
}

header>ul>li {
	list-style-type: none;
	float: left;
	width: 115px;
	height: 20px;
	margin: 0;
	background: blue;
	text-align: center;
	padding-top: 2px;
	background: #17385b;
}

header>ul>li:nth-child(2n+1) {
	background: #4b96ad;
}

ul>li>a {
	text-decoration: none;
	color: white;
}

.left_side {
	position: relative;
	top: 17px;
}

.top_header {
	position: relative;
	left:50px;
	top:-110px;
	color: #17385b;
}

.main>p {
	color: #17385b;
	position: relative;
	left: 50px;
	top:-99px;
	width: 50%;
	text-align: justify;
}

.main>p>span {
	background: #d3f445;
}

.banner {
	position: relative;
	left: 50px;
	top: -90px;
	width: 50%;
	text-align: justify;
}

.some_info {
	color: #17385b;
	background: #ebeacb;
	border: 5px double white;
	width: 50%;
	position: relative;
	left: 45px;
	top: -70px;
}

.some_info>h4, p, ul {
	margin-top: 10px;
}

.bottom_header {
	position: relative;
	left:50px;
	top: -75px;
	color: #17385b;
	margin-bottom: 40px;
}

.news, .last {
	width: 35%;
	color: #17385b;
	text-align: justify;	
}

.news {
	position: absolute;
	top: 229px;
	left: 480px;
}

.news>h3, .last>h3 {
	color:  #7f9911;
	margin-bottom: 30px;
}

hr {
	border:none;
	border-top:1px dashed grey;
}

.news>img, .last>img {
	position: relative;
	top: -8px;
	left: 225px;
}

.custom_design {
	position: absolute;
	left: 480px;
	top: 550px;
	width: 35%;
}

.last {
	position: absolute;
	top: 680px;
	left: 480px;
}

footer>ul>li {
	list-style-type: none;
	float: left;
	width: 70px;
	text-align: center;
	color: white;
}

footer>ul {
	position: absolute;
	bottom: 10px;
}

.logo {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

footer {
	position: absolute;
	bottom: -5px;
}

.bottom_img {
	width: 805px;
}
