html, body {
	min-height: 100%;
	margin: 0;
}

body {
	background: url(images/bg.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper {
	max-width: 800px;
	min-width: 700px;
	margin: 30px auto;
	position: relative;
	height: 700px;	
}

header>h2, h5 {
	margin: 0;
	color: white;
}

header>h2>span {
	font-weight: lighter;
}

.social_networks {
	list-style: none;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 5px;
	right: 10px;
}

.social_networks>li:hover {
	background: rgb(63,63,64, 0.5);
	border-radius: 2px;
}
.social_networks>li {
	margin-right: 3px;
}

nav {
	height: 30px;
	background: url(images/bg_menu.png);
	background-size: cover;
	border-radius: 0 5px;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
	padding: 5px;
}

.menu {
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 10px;
}

.menu a {
	text-decoration: none;
	display: block;
	padding: 5px 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #a9d1e3;
	list-style: none;
}

.menu a:hover {
		background: url(images/menu_hover.png);
		background-size:contain;
		background-repeat: no-repeat;
		background-position-x: 5px;
		margin-left: 10px;
		color: white;
	}
	
	}
	hr {
		background: url(images/hr_divider.png);
		width: 99%;
		margin: 0;
	}

	main {
		background: #3f3f40;
		height: 470px;
		position: relative;
		top: 70px;
		padding: 20px;
	}

	main h2, section h2 {
		color: #6b9ec1;	
		margin: 0;
	}

	img {
		float: left;
		margin: 5px;
		margin-bottom: 0;
	}

	.some_info img {
		box-shadow: inset 5px 3px 2px 2px black;
		border: 4px solid grey;
		width: 150px;
		height: 150px;
		margin: 10px;
		margin-bottom: 0;
	}

	.reasons  {
		display: flex;
		text-align: justify;
	}
	.some_info {
		display: flex;
		text-align: left;
	}
	.reasons div, .some_info div {
		margin: 10px;
		font-size: 12px;
		color: #7c7469;
	}
	.reasons h4, .some_info h4 {
		color: white;
	}

	span {
		color: white;
		font-style: italic;
	}

	.about {
		width: 70%;
	}

	.add {
		width: 30%;
	}

	button {
		background: url(images/btn.png);
		background-size: contain;
		background-repeat: no-repeat;	
		border: none;	
		width: 100px;
		height: 30px;
		color: white;
	}

	.about button {
		margin-left: 350px;
	}

	button:hover {
		background: url(images/btn_hover.png);
	}

	footer {
		position: relative;
		bottom: -70px;
		left: 35%;
		color: white;
	}

	section {
		background: #3f3f40;
		height: 470px;
		position: relative;
		top: 70px;
		padding: 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	section div {
		flex: 250px;
		font-size: 12px;
		color: #7c7469;
		padding: 10px;
	}

	section ul {
		list-style: url(images/list.png);
	}

	section ul li {
		margin-top: 5px;
	}

	.general hr {
		margin-top: 30px;
	}

	.general button {
		margin-top: 35px;
		margin-left: 70px;
	}

	.service_list hr {
		margin-top: 31px;
	}

	.service_list button {
		margin-left: 190px;
	}

	.courses h2 {
		margin-bottom: 10px;
	}

	.courses button {
		margin-top: 20px;
		margin-left: 70px;
	}

	section img {
		border: 4px solid grey;
		display: inline-block;
	}

	.partner_program, .about_us {
		height: 250px;
		flex: 350px;
	}

	.partner_program img {
		width: 150px;
		height: 150px;
		margin-bottom: 10px;

	}

	.partner_program button {
		margin-left: 90px;
		margin-top: 50px;
	}

	.discont, .comments {
		flex: 200px;
		height: 250px;
	}

	.discont button {
		margin-left: 180px;
		margin-top: 30px;
	}

	.discont hr {
		margin-top: 30px;
	}

	.our_partners {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 350px;
		justify-content: flex-start;
	}

	.our_partners h2, .partners h2 {
		flex-basis: 400px;
	}

	.flashmo {
		background: url(images/flashmo.png);
		background-repeat: no-repeat;
		flex: 150px;
	}

	.templatemo {
		background: url(images/templatemo.png);
		background-repeat: no-repeat;
		background-size: contain;
		flex: 150px;
	}

	.koflash {
		background: url(images/koflash.png);
		background-repeat: no-repeat;
		flex: 150px;
	}

	.webdesign {
		background: url(images/webdesignmo.png);
		background-repeat: no-repeat;
		background-size: contain;
		flex: 150px;
	}

	.flashmo:hover {
		background-image: url(images/flashmo_hover.png);
	}

	.templatemo:hover {
		background-image: url(images/templatemo_hover.png);
	}

	.koflash:hover {
		background-image: url(images/koflash_hover.png);
	}

	.webdesign:hover {
		background-image: url(images/webdesignmo_hover.png);
	}

	.advantages {
		flex: 200px;
	}

	.about_us hr {
		margin-top: 70px;
	}

	.about_us button{
		margin-top: 20px;
		margin-left: 200px;
	}

	.comments hr{
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.partners {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 450px;
		justify-content: flex-start;
		margin-top: -100px;
	}

	.contacts {
		background: #3f3f40;
		height: 470px;
		position: relative;
		top: 70px;
		padding: 30px;
	}

	.contacts h2, h4 {
		color: #6b9ec1;
		text-align: center;
	}

	input {
		display: block;
		border-radius: 5px;
		border: 0;
		margin: 10px 40px;
		padding: 10px;
	}

	input[type="submit"] {
		width: 150px;
		margin: 10px 60px;
		padding: 10px;
		color: #6b9ec1;
		cursor: pointer;
		text-transform:uppercase;
	}	

	input[type="submit"]:hover {
		background: grey;
		opacity: 0.5;
	}

	form {
		margin-top: 20px;
		float: left;
	}

	.contacts div {
		margin-top: 50px;
		color: #7c7469;
		text-align: center;
	}

	.contacts ul {
		list-style-type: none;
	}


