.container {
	border: 2px dashed red;
	width: 820px;
	height: 180px;
	background: white;	
	margin: auto;
}

.container>:first-child {
	background: yellow;
	width:30px;
	height: 70px;
	margin: 10px;
	transform: translateX(3px);
}

.container>:nth-child(2) {
	background: yellow;
	width:70px;
	height: 30px;	
	transform: translate(13px, -20px);
}

.container>:nth-child(3) {
	background: yellow;
	width:30px;
	height: 160px;	
	transform: translate(85px, -110px);
}

.container>:nth-child(4) {
	background: yellow;
	width:70px;
	height: 30px;	
	transform: translate(13px, -140px);
}

.container>:nth-child(5) {
	background: blue;
	width:30px;
	height: 160px;	
	transform: translate(130px, -300px);
}

.container>:nth-child(6) {
	background: blue;
	width:30px;
	height: 90px;	
	transform: rotate(25deg) translate(-35px, -490px);	
}

.container>:nth-child(7) {
	background: blue;
	width:30px;
	height: 90px;	
	transform: rotate(135deg) translate(-465px, 210px);	
}

.container>:nth-child(8) {
	background: yellow;
	width:30px;
	height: 160px;
	transform: translate(250px, -640px);
}

.container>:nth-child(9) {
	background: yellow;
	width:70px;
	height: 30px;
	transform: translate(282px, -800px);
}

.container>:nth-child(10) {
	background: yellow;
	width:30px;
	height: 70px;
	transform: translate(322px, -820px);
}

.container>:nth-child(11) {
	background: yellow;
	width:70px;
	height: 30px;
	transform: translate(282px, -840px);
}

.container>:nth-child(12) {
	background: blue;
	width:30px;
	height: 160px;	
	transform: rotate(15deg) translate(130px, -998px);
}

.container>:nth-child(13) {
	background: blue;
	width:30px;
	height: 160px;	
	transform: rotate(165deg) translate(-700px, 941px);
}

.container>:nth-child(14) {
	background: blue;
	width:70px;
	height: 30px;	
	transform: translate(390px, -1160px);
}

.container>:nth-child(15) {
	background: yellow;
	width:30px;
	height: 120px;	
	transform: translate(510px, -1240px);
}

.container>:nth-child(16) {
	background: yellow;
	width:30px;
	height: 30px;	
	transform: translate(485px, -1400px);
}

.container>:nth-child(17) {
	background: yellow;
	width:30px;
	height: 30px;	
	transform: translate(535px, -1430px);
}

.container>:nth-child(18) {
	background: blue;
	width:30px;
	height: 160px;	
	transform: translate(580px, -1460px);
}

.container>:nth-child(19) {
	background: blue;
	width:26px;
	height: 30px;	
	transform: translate(612px, -1550px);
}

.container>:nth-child(20) {
	background: blue;
	width:30px;
	height: 160px;	
	transform: translate(640px, -1650px);
}

.container>:nth-child(21) {
	background: yellow;
	width:30px;
	height: 160px;	
	transform: rotate(15deg) translate(220px, -1930px);
}

.container>:nth-child(22) {
	background: yellow;
	width:40px;
	height: 30px;	
	transform: translate(733px, -1880px);
}

.container>:nth-child(23) {
	background: yellow;
	width:30px;
	height: 160px;	
	transform: rotate(165deg) translate(-1255px, 1732px);
}